<div class="flex flex-1 w-2/4 my-10">
  <div class="flex flex-col">
    <div class="flex text-base text-gray-600">
      <%= f.label :name, class: 'text-gray-600' %>
    </div>
    <div class="flex text-base text-gray-600">
      <%= f.text_field :name, class: 'form-input' %>
    </div>

    <div class="flex text-base text-gray-600">
      <%= f.label :street, class: 'text-gray-600' %>
    </div>
    <div class="flex text-base text-gray-600">
      <%= f.text_field :street, class: 'form-input' %>
    </div>

    <div class="flex text-base text-gray-600">
      <%= f.label :zip_code, class: 'text-gray-600' %>
    </div>
    <div class="flex text-base text-gray-600">
      <%= f.text_field :zip_code, class: 'form-input' %>
    </div>

    <div class="flex text-base text-gray-600">
      <%= f.label :country, class: 'text-gray-600' %>
    </div>
    <div class="flex text-base text-gray-600">
      <%= f.text_field :country, class: 'form-input' %>
    </div>

    <div class="flex text-base text-gray-600">
      <%= f.label :email, class: 'text-gray-600' %>
    </div>
    <div class="flex text-base text-gray-600">
      <%= f.text_field :email, class: 'form-input' %>
    </div>
  </div>
</div>