<div class="flex flex-1 py-4 bg-indigo-400 text-white font-bold item-center justify-center">
  <div class="flex flex-1">
    <div class="flex flex-1 justify-center">
      <%= link_to 'Shop', root_path, class: 'font-bold text-2xl' %>
    </div>
    

    <% if logged_in? and current_user.role.admin? %>
      <div class="flex flex-1 justify-center">
        <%= link_to 'Products List', products_path, class: 'cursor-pointer border-b border-transparent hover:border-white' %>
      </div>
      <div class="flex flex-1 justify-center">
        <%= link_to 'Prices List', prices_path, class: 'cursor-pointer border-b border-transparent hover:border-white' %>
      </div>
    <% end %>

    <% if logged_in? %>
      <div class="flex flex-1 justify-center">  
        <%= link_to 'Profile', user_path(current_user), class: 'cursor-pointer border-b border-transparent hover:border-white' %>
      </div>
      <div class="flex flex-1 justify-center">  
        <%= link_to 'Orders', orders_path, class: 'cursor-pointer border-b border-transparent hover:border-white' %>
      </div>
    <% end %>
    
    
  </div>
  <div class="flex flex-1 justify-end px-10 items-center">
    <div class="flex justify-end px-10">
      <%= link_to 'Cart', cart_path(@current_cart) %> <span class="inline-block mx-1 bg-red-400 text-white px-3 rounded-md"><%= cart_item_count %></span>
    </div>
    <div class="flex  justify-end">
      <% if logged_in? %>
        <%= button_to "Logout", authentication_logout_path, method: :delete, class: 'cursor-pointer bg-gray-900 text-white font-bold p-2 rounded-lg' %>
      <% else %>
        <%= button_to "Login Page", new_authentication_session_path, method: :get, class: 'cursor-pointer bg-gray-900 text-white font-bold p-2 rounded-lg' %>
      <% end %>
    </div>
  </div>
</div>